* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #D8BFD8;
  }
  body {
    /* styles for the entire page */
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
}
/* styles and padding of the header */
header {
    padding: 20px 35px;
    background-color: #D8BFD8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  /* header nav flex */
 header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
  list-style: none;
}
 /* nav list specifics */
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 2vw;
  color: #000000;
}
 /* h1 style */
header h1 {
  font-weight: bold;
  font-size: 25px;
  color: #490949;
  margin: 0;
}
section {
  padding: 60px;
}
/* Hero Section */
.hero {
  background-image: url("../../mlcimages/mlcheadshot.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* h2 styles */
.hero h2 {
  font-weight: bold;
  font-size: 3vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #494949;
  margin: 0;
  padding: 5px 10px;
  display: inline;
}
/* About Me styles */
.intro {
  font-weight: bold;
  font-size: 1.2vw;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  border-bottom: 3px solid;
  margin-bottom: 0 auto 30 auto;
  border-bottom: #490949;
  padding-bottom: 20px;
  margin: 0;
  padding: 5px 10px;
}
.intro p {
  display: flex;
  font-weight: lighter;
}
body {
  margin: 50px;
}
/* About Me .grid-container */
.about-me-grid-item {
  background: lightpink;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid #490949;
  color:  #494949;
  font-size: 1.2rem;
  writing-mode: vertical-lr;
  grid-column: 1;
  grid-row: 1 / -1;
  transform: rotate(180deg);
}
.about-me-grid-item header {
  grid-row: 1;
  grid-column: -1;
}

/* Grid-container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  row-gap: 10px
}
.grid-item {
  display: grid;
  justify-content: center;
  border: 10px solid rgba(0, 0, 0, 0.2);
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 3vw;
}
.item-1 {
  grid-row: 2/ span 6;
  grid-column: 1 / span 5;
  background-image: url("../../mlcimages/temple.jpg");
  grid-template-columns: min-content;
  grid-template-rows: min-content;
}
.item-2 {
  grid-row: 2/ span 3;
  grid-column: 7 / span 4;
  background-image: url("../../mlcimages/temple.jpg");
  grid-template-columns: min-content;
  grid-template-rows: min-content;
}
.item-3 {
  grid-row: 5 / span 3;
  grid-column: 7 / span 4;
  background-image: url("../../mlcimages/temple.jpg");
  grid-template-columns: min-content;
  grid-template-rows: min-content;
}
.item-4 {
  grid-row: 9 / span 3;
  grid-column: 1 / span 4;
  background-image: url("../../mlcimages/temple.jpg");
  grid-template-columns: min-content;
  grid-template-rows: min-content;
}
.item-5 {
  grid-row: 9 / span 3;
  grid-column: 5 / span 4;
  background-image: url("../../mlcimages/temple.jpg");
  grid-template-columns: min-content;
  grid-template-rows: min-content;
}
/* Contact Me */
 .contact-me address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-direction: column;
}
/* Footer Style*/
.footer  {
  color: #490949;
  font-size: 30px;
  margin: 0;
  display: flex;
  align-items: center;
}
@media (hover: hover) {
  .grid-item:hover {
    background:lightpink;
    opacity: 0.09;
  }
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  /* this will be applied on any screen smaller than 980px */
    header {
      padding-bottom: 0;
      justify-content: center;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }

  @media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px */
    .hero {
      height: 200px;
      width: auto;
    }

    @media screen and (max-width: 768px) {
      /* this will be applied on any screen between 768px and 575px */
      .hero h2 {
        justify-content: left;
      }
      }