* {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}
body {
  font-family: Georgia, Helvetica, Arial, sans-serif;
}
/* styles and padding of the header */
header {
  padding: 20px;
  background-color: #d8bfd8;
  display: flex;
  justify-content: space-between;
}
/* header nav flex */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #d8bfd8;
  align-items: right;
  list-style: none;
  font-weight: 30px;
}
img {
  height: 100px;
  padding: 10px;
  display: flex;
}
/* nav list specifics */
header nav ul li a {
  color: #000000;
  font-family: Georgia;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-weight: 30px;
  font-size: 3vw;
  list-style: none;
  text-align: right;
  background-color: #d8bfd8;
  transition: all 0.2s ease 0s;
  margin: 3px;
}

header nav ul li a:hover {
  color: honeydew;
}
li,
a button {
  font-size: 15px;
  text-decoration: none;
}

li,
a button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}
/* h1 style */
header h1 {
  font-weight: bold;
  font-size: 25px;
  color: #490949;
  margin: 0;
}

/* Hero Section */
.hero-banner {
  background-image: url("../../mlcimages/mlcheadshot.png");
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 10px;
  background-image: 100%;
  margin: 3px;
}

.hero-banner div {
  flex: 0 0 75%;
}
/* h2 styles */
.hero-banner h2 {
  font-weight: bold;
  font-size: 4vw;
  font-family: Georgia;
  color: #490949;
  float: right;
}

/* Flex-container */
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  font-family: Georgia;
  color: azure;
  background-color: #d8bfd8;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid azure;
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 75%;
}
.page-section p {
  margin-bottom: 20px;
}
.page-section > a {
  flex: 0 0 100%;
}
/* My Work Grid */
.grid-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
  flex-wrap: wrap;
}
.grid-item {
  border: 5px solid pink;
  background-color: rgba(128, 128, 128);
  grid-column: span 4;
  min-height: 150px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  text-decoration: none;
  background-size: 150%;
  font-size: 0.5rem;
}

.grid-item > div {
  background: lightgrey;
  align-items: flex-end;
}

.temple {
  background-image: url("../../mlcimages/templeu.jpg");
  grid-area: 1 / 1 / span 2 / span 4;
}

.events {
  background-image: url("../../mlcimages/events.jpg");
  grid-area: 1 / span 4 / span 1;
}

.shakers {
  background-image: url("../../mlcimages/earthquake.jpg");
  grid-area: 2 / span 4 / span 1;
}
.history {
  background-image: url("../../mlcimages/capitalcom.jpeg");
  grid-area: 3 / span 4 / span 1;
}
.run {
  background-image: url("../../mlcimages/history.jpg");
  grid-area: 3 / span 4 / span 1;
}

/* Contact Me */
.flex-container-contact {
  display: flex;
  background-color: rgba(104, 66, 101, 0.2);
  flex-wrap: wrap;
  font-family: Georgia;
  text-align: center;
  align-items: center;
}
.flex-item-contact {
  border: 1px black dotted;
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: 100%;
  flex: 1;
  background-color: fuchsia;
}

.contact {
  font-family: Georgia;
  text-align: center;
  color: azure;
}
.line-contact {
  border-right: 5px solid black;
  height: 300px;
  margin: 5px;
  background-color: green;
}

/* Remove List Styles*/
li {
  list-style: none;
}

li,
a button {
  background-color: transparent;
}

/* Footer Style*/
footer {
  padding-top: 50px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #490949;
  font-size: 30px;
}
/* Media Queries Start */
@media all and (max-width: 600px) {
  .hero-banner {
    height: 350px;
  }
}
@media all and (max-width: 380px) {
  .hero-banner {
    height: 300px;
  }
}
/* Media For Each Grid Item*/
@media all and (max-width: 600px) {
  .temple {
    border: 5px solid rgba(201, 9, 41);
    grid-area: 1 / span 4;
    min-height: 150px;
    min-width: 200px;
    opacity: 0.6;
  }
}
@media all and (max-width: 600px) {
  .events {
    border: 5px solid rgba(201, 9, 41);
    grid-area: 2 / span 4;
    min-height: 150px;
    min-width: 200px;
    opacity: 0.6;
  }
}
@media all and (max-width: 600px) {
  .shakers {
    border: 5px solid rgba(201, 9, 41);
    grid-area: 3 / span 4;
    min-height: 150px;
    min-width: 200px;
    opacity: 0.6;
  }
}
@media all and (max-width: 600px) {
  .history {
    border: 5px solid rgba(201, 9, 41);
    grid-area: 4 / span 4;
    min-height: 150px;
    min-width: 200px;
    opacity: 0.6;
  }
}
@media all and (max-width: 600px) {
  .run {
    border: 5px solid rgba(201, 9, 41);
    grid-area: 5 / span 4;
    min-height: 150px;
    min-width: 200px;
    opacity: 0.6;
  }
}
@media all and (max-width: 380px) {
  .grid-item {
    border: 5px solid rgba(201, 9, 41);
    grid-column: span 4;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-size: 150%;
    font-size: 0.5rem;
    opacity: 0.6;
  }
}
/* Media Queries Hover*/
@media (hover: hover) {
  .grid-item:hover {
    opacity: 0.6;
  }
}
/* @media (hover: hover) {
  .background-image:hover {
    opacity: 1;
    width: 100%;
    height: auto;
  }
} */
/* @media all and (max-width: 380px) and (hover: hover) {
  .grid-item:hover {
    background: rgba(216, 197, 200);
    opacity: 0.25;
  }
} */
